# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


.classpath
.project
.settings/
target/
C#/Snooker/bin/
C#/Snooker/obj/
C#/SnookerTests/bin/
C#/SnookerTests/obj/Debug/CoreCompileInputs.cache
C#/SnookerTests/obj/
C#/.vs/Snooker/v15/.suo
C++/Snooker/Debug/
C++/Snooker/Snooker/Debug/
C++/Snooker/Snooker/Snooker.vcxproj.user
C++/Snooker/Snooker/Snooker.vcxproj.filters
C++/Snooker/ipch/SNOOKER-96b3b400/SNOOKER-32ea9a8d.ipch
C++/Snooker/Snooker.VC.db
C++/Snooker/Snooker.VC.VC.opendb
C++/Snooker/.vs/Snooker/v14/.suo
C++/Debug/
C++/Snooker/Snooker.vcxproj.user
C++/Snooker/Snooker.vcxproj.filters
C++/ipch/SNOOKER-96b3b400/SNOOKER-32ea9a8d.ipch
C++/Snooker.VC.db
